@import "../../styles/base.scss";

pre {
  background-color: #eee;
  padding: 10px;
}

.badges {
  overflow: auto;
  margin-top: 30px;
  .badge {
    border-radius: 3px;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.9em;
    float: left;
    padding-right: 20px;

    * {
      height: 30px;
    }
    .key {
      background-color: #ddd;
      float: left;
      padding-top: 3px;
      padding-right: 10px;

      .material-icons {
        font-size: 18px;
        position: relative;
        top: 2px;
        width: 18px;
        margin-left: 8px;
      }
    }
    .value {
      background-color: #eee;
      float: left;
      padding: 3px 10px 0px 10px;
    }
  }
}

.icon {
  //font-size: 100px;
  background-color: #eee;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  padding-top: 10px;
  border-radius: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

img[hidden] {
  display: none;

}


.label-icon {
  opacity: 0.4;
  margin-left: 7px;
}