<div id="projects">
  <img src="../../assets/background-top.svg" hidden/>
  <header-bar :enable_subheader="found" ref="header" :subheader_tabs="['Docs', 'Github']" ></header-bar>

  <four-oh-four v-if="not_found"></four-oh-four>
  <div class="page" v-if="found">
    <div class="grid_2"></div>

    <div class="sections grid_6">
      <div class="section">
        <!-- <div class="breadcrumbs" v-if="is_subpage">
          <a href="">{{config.parent}}</a> > <a href="">{{header.name}}</a>
        </div> -->
        <div class="content">
           <h1>
            {{header.name}}
          </h1>
          <div class="badges" v-if="!is_subpage">

            <div class="badge-group">
              <a :href="`https://github.com/${config.org}/${config.repo}/stargazers`">
                <div class="badge">
                  <div class="key">
                    <i class="material-icons">star</i>
                  </div>
                  <div class="value">{{config.stars}}</div>
                </div>
              </a>

              <a :href="`https://github.com/${config.org}/${config.repo}/commits/master`">
                <div class="badge">
                  <div class="key">
                      <i class="material-icons">access_time</i>
                  </div>
                    <div class="value">{{config.last_updated_from_now}} ago</div>
                </div>
              </a>
            </div>

            <div class="badge-group">
              <!-- TODO: reveal git clone -->
              <a href="#" @click="show_clone_cmd = !show_clone_cmd">
                <div class="badge badge-action">
                  <div class="key">
                      <i class="material-icons">code</i>
                  </div>
                    <div class="value">Clone Repo</div>
                </div>
              </a>

              <a :href="`https://github.com/${config.org}/${config.repo}/archive/master.zip`">
                <div class="badge badge-action">
                  <div class="key">
                      <i class="material-icons">file_download</i>
                  </div>
                    <div class="value">Download ZIP</div>
                </div>
              </a>

              <div class="copy-code-container" v-if="show_clone_cmd">
                <input
                  id="git-clone-copy-txt"
                  type="text"
                  :value="`git clone git@github.com:${config.org}/${config.repo}.git`"
                  readonly />
                <button
                  id="git-clone-copy-btn"
                  class="copy-btn"
                  type="button"
                  data-clipboard-target="#git-clone-copy-txt">
                  <i class="material-icons">content_copy</i>
                </button>
              </div>
            </div>
          </div>

          <!-- Header section body -->
          <p v-html="header.content" v-if="header.content">
          </p>

          <!-- Table of contents shown if > 1 sections -->
          <div class="dropdown" id="docs-dropdown" v-if="sections.length > 1">
              <br />
              <a
                v-for="section in sections"
                :href="section.ref"
                :class="{selected: section.name==dropdown_selection}">
                  {{section.name}}
              </a>
            </div>
        </div>
      </div>

      <!-- <div class="section" v-if="sections.length > 1" >
        <div class="content">

        </div>
      </div> -->

      <div v-for="section in sections" class="section">
        <div class="section-marker" :id="section.id" :name="section.name"></div>
        <div class="content">
          <h2>{{section.name}}</h2>
          <div v-html="section.content"></div>
        </div>
      </div>

      <div class="section footer">
        <div class="content">
          This page was generated approximately {{config.last_fetched_from_now}} ago.<br />
          For copyright and licensing details please see the <a :href="`https://github.com/${config.org}/${config.repo}/blob/master/LICENSE`">LICENSE</a> file.
        </div>
      </div>
    </div>

    <div class="grid_2 nav">
      <!-- <div class="dropdown" id="docs-dropdown" v-if="sections.length > 1" >
        <a
          v-for="section in sections"
          :href="section.ref"
          :class="{selected: section.name==dropdown_selection}">
            {{section.name}}
        </a>
      </div> -->
    </div>
  </div>
</div>