<div id="app">
  <img src="../../assets/background-top.svg" hidden/>
  <header>
    <div class="content">
      <div class="title link">{{header.name}}</div>
      <div class="link" id="docs">
        <div class="text">
          <!-- <span class="label">Docs</span> -->
          <!-- <span class="label-icon">▼</span> -->
          <!-- <i class="material-icons">keyboard_arrow_down</i> -->
        </div>
      </div>
      <div class="link">
        <a :href="'https://github.com/' + $route.params.organization + '/' + $route.params.repository">Github</a>
      </div>
    </div>
  </header>
  <div class="spacer-header"></div>
  <div class="page">
    <div class="grid_2"></div>

    <div class="sections grid_6">
      <div class="section">
        <div class="breadcrumbs" v-if="is_subpage">
          <a href="">{{config.parent}}</a> > <a href="">{{header.name}}</a>
        </div>
        <div class="content">
          <div class="material-icons icon" v-if="!is_subpage">
            <img src="../../assets/logo-small.png" height="80" />
          </div>
          <h1>
            {{header.name}}
          </h1>
          <p v-html="header.content">
          </p>
          <div class="badges" v-if="!is_subpage">
            <div class="badge">
              <div class="key">
                <i class="material-icons">star</i>
                Star
              </div>
              <div class="value">{{config.stars}}</div>
            </div>

            <div class="badge">
              <div class="key">
                <i class="material-icons">access_time</i>
                Updated
              </div>
              <div class="value">{{config.last_updated_from_now}} ago</div>
            </div>
          </div>
        </div>
      </div>

      <div v-for="section in sections" class="section" :id="section.id" >
        <div class="content">
          <h2>{{section.name}}</h2>
          <div v-html="section.content"></div>
        </div>    
      </div>
    </div>

    <div class="grid_2 nav">
      <div class="dropdown" id="docs-dropdown" v-if="sections.length > 1" >
        <a v-for="section in sections" :href="section.ref">{{section.name}}</a>
      </div>
    </div>
  </div>
</div>