<div id="homepage">
  <header-bar enable_subheader="true" subheader_title="Platforms" :subheader_tabs="subheader_tabs" ref="header"></header-bar>

  <div class="page content_grid">
      <div class="col_gutter"></div>
      <div class="sections col_main">
        <div class="section" v-for="category in categories">
          <div class="content" v-if="isSectionVisible(category.title)">
            <h1>{{category.title}}  <button v-if="$refs.header && $refs.header.subheader_tab_selection == 'All'" @click="setSubheaderTabSelection(category.title)">SEE ALL</button></h1>
            <div class="projects">
              <div class="project" v-for="project in ($refs.header && $refs.header.subheader_tab_selection == 'All')? category.featured : category.projects">

                <div class="grid">
                  <div class="logo-circle" :style="{backgroundColor: project.color}">
                    <!--
                      TODO: Need to find an SVG letter font free for commercial use
                      ex: https://www.behance.net/gallery/48597451/Free-SVG-Alphabet
                    -->
                    <!-- <img
                      class="logo-letter"
                      v-bind:src="`/src/assets/letters/${project.letter}.svg`"> -->
                      {{project.letter}}
                  </div>
                  <h2 class="project-title">{{project.name}}</h2>
                  <p class="project-description">
                      {{project.description}}
                  </p>
                  <router-link :to="`/projects/${project.org}/${project.repo}/`">
                    <button @mouseover="preload(project)">LEARN MORE</button>
                  </router-link>
                </div>
              </div>
            </div>
            <div class="antiline"></div>
          </div>
        </div>
      </div>
      <div class="col_gutter"></div>
    </div>
</div>
