<div>
  <header-bar enable_subheader="true" subheader_title="Platforms" :subheader_tabs="subheader_tabs" ref="header"></header-bar>

  <div class="page">
      <div class="grid_2"></div>
      <div class="sections grid_6">
        <div class="section" v-for="category in categories">
          <div class="content" v-if="isSectionVisible(category.title)">
            <h1>{{category.title}}  <button v-if="$refs.header && $refs.header.subheader_tab_selection == 'All'" @click="setSubheaderTabSelection(category.title)">SEE ALL</button></h1>
            <div class="projects">
              <div class="project grid_third" v-for="project in category.projects">
                  <div class="logo-circle" :style="{backgroundColor: project.color}">{{project.letter}}</div>
                <h2>{{project.name}}</h2>
                <p>
                    {{project.description}}
                </p>
                <router-link :to="`/projects/${project.org}/${project.repo}/`">
                  <button>LEARN MORE</button>
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="grid_2"></div>
    </div>
</div>