html {
  box-sizing: border-box;
}
body {
  margin: 0px;
  line-height: 170%;

  background: #fcfcfc url(/dist/background-top.svg) no-repeat;
  background-attachment: fixed;
  background-size: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
h1,
h2 {
  padding: 10px 0px;
  margin: 0px;
}

pre {
  padding: 5px 10px;
  background-color: #f0f0f0;
  font-family: "Roboto Mono";
  overflow: scroll;
}

a {
  text-decoration: none;
  color: #039be5;
}

table {
  width: 100%;
  text-align: left;
  background-color: #f8f9fa;
}

td {
  border-width: 0px;
  padding: 0px 10px;
}

th {
  background-color: #78909c;
  padding: 10px;
  font-weight: bold;
  color: white;
}

tr {
  background-color: #f8f9fa;
  border-bottom: 1px solid #cfd8dc;
}

.img-parent {
  text-align: center;
  padding: 20px 0px;
}

pre {
  line-height: 100%;
}
