$header-height: 40px;

$blue: #039be5;
$orange: #f57c00;
$yellow: #ffca28;
$amber: #ffa000;
$gray: #ebebeb;

$shadow: rgba(0, 0, 0, 0.2);

// Sizes to trigger media queries
$tablet: 1365px;
$phone: 720px;

$max-content-width: 1080px;
$gutter-padding: 16px;
$sidebar-width: 220px;
$gutter-width: $sidebar-width + $gutter-padding + $gutter-padding;
