@import "./variables.scss";

body {
  min-width: 340px;
}

h1 {
  font-weight: 300;
  font-size: 34px;
  line-height: 40px;
  color: #757575;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 0 10px;
}

.spacer-header {
  height: 50px;
}

.content_grid {
  display: grid;
  grid-template-areas: "gutter main gutter";
  grid-template-columns: 1fr minmax(max-content, $max-content-width) 1fr;
}

.col_gutter,
.col_main {
  max-width: $max-content-width;
  min-height: 10px;
}

@media (max-width: $tablet) {
  .col_gutter {
    width: 0;
  }

  .col_main {
    width: 100%;
    //padding: 0px 20px;
  }
}

.nav {
  position: fixed;
  right: 0px;
}

.dropdown {

 a,
 span {
   font-size: 13px;
   line-height: 22px;
   border-left: 4px solid #039be5;
   padding-left: 10px;
   clear: both;
   display: block;
 }

 span {
   color: #757575;
   font-weight: bold;
 }

 a {
   color: #212121;
   width: 100%;
   text-decoration: none;

   &:hover {
     color: #039be5;
     cursor: pointer;
   }
 }
}

.shadow_top {
  box-shadow: 0 -2px 2px -2px $shadow;
}

.shadow_bottom {
  box-shadow: 0 2px 2px -2px $shadow;
}

.shadow_left {
  box-shadow: -2px 0 2px -2px $shadow;
}

.shadow_right {
  box-shadow: 2px 0 2px -2px $shadow;
}

.shadow_top_left_right {
  box-shadow: 0 -2px 2px -2px $shadow, -2px 0 2px -2px $shadow, 2px 0 2px -2px $shadow;
}

.shadow_bottom_left_right {
  box-shadow: 0 2px 2px -2px $shadow, -2px 0 2px -2px $shadow, 2px 0 2px -2px $shadow;
}

.shadow_left_right {
  box-shadow: -2px 0 2px -2px $shadow, 2px 0 2px -2px $shadow;
}

.shadow_all {
  box-shadow: 0 0 5px $shadow;
}

.section {
  margin: 30px auto 0px auto;
  width: 100%;

  @media (max-width: $phone) {
    margin-top: 15px;
  }

  &:last-child:nth-child(2) {
    margin-top: 0px;
  }

  &:not(:first-child) {
    margin-top: 0px;
  }

  .content {
    @extend .shadow_left_right;

    background-color: white;
    padding: 20px;

    border-radius: 0px 0px 2px 2px;

    &:first-child {
      @extend .shadow_top_left_right;
      border-radius: 2px;
    }

    &:last-child {
      @extend .shadow_bottom_left_right;
    }
  }

  &:last-child {
    padding-bottom: 100px;
  }
}

#docs {
  height: 38px;
  //overflow: hidden;
  cursor: pointer;

  &:hover {
    overflow: inherit;

    .dropdown {
      top: 40px;
    }
  }
}

.ellipsize {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
