@import "../../styles/base.scss";

// Bold orange text
.orange-title {
  color: #ff8f00;
  font-weight: bold;
  font-size: 18px;
}

// Layout that goes 3-->2-->1
.flexible-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    // In tablet layout, two projects per row
    @media (max-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
    }

    // In phone layout, only one project per row
    @media (max-width: $phone) {
      grid-template-columns: repeat(1, 1fr);
    }
}

#homepage {
  .section-title {
    font-size: 30px;
    border-bottom: 1px solid #eceff1;
    height: 70px;
    padding: 0px 12px 20px 12px;

    > a {
      color: #656565;
      font-family: Roboto, Helvetica, Arial, sans-serif;
    }

    button {
      position: relative;
      top: 12px;
    }

    .material-icons {
      font-size: 40px;
      position: relative;
      top: 9.6px;
      margin-right: 6px;
      opacity: 0.4;
    }
  }

  .antiline {
    width: 100%;
    height: 1px;
    background-color: white;
    position: relative;
    top: -1px;
  }

  #welcome_card {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: min-content 1fr;

    // In phone layout, hide the image
    @media (max-width: $phone) {
      grid-template-columns: 100%;
      grid-gap: 0px;

      img {
        margin: 0;
        display: none;
      }

      h1 {
        padding-top: 0px;
      }
    }

    .body {
      color: #757575;
    }

    .image {
      display: flex;
      align-items: center;
    }

    img {
      margin: auto;
      height: 200px;
    }
  }

  .releases {
    @extend .flexible-columns;

    .release {
      .grid {
        padding: 20px;
      }

      .release-title {
        @extend .orange-title;
      }
    }
  }

  .projects {
    @extend .flexible-columns;

    .project {
      overflow: hidden;

      border: 1px solid #eceff1;
      border-width: 0px 0px 1px 0px;

      .grid {
        width: 100%;
        display: grid;
        grid-template-areas:
          "logo"
          "title"
          "description"
          "link";
        grid-template-rows: 70px fit-content(100%) 70px 20px;

        @media (max-width: $phone) {
          grid-template-areas:
            "logo title"
            "description description"
            "link link";
          grid-template-columns: 50px auto;
          grid-template-rows: 65px 70px 20px;
          padding: 20px 10px;
        }
        float: left;
        position: relative;
        padding: 20px;
      }

      .logo-circle {
        grid-area: logo;

        width: 55px;
        height: 55px;
        background-color: #eee;
        border-radius: 100%;
        font-size: 30px;
        display: grid;
        justify-items: center;
        align-items: center;
        color: white;

        @media (max-width: $phone) {
          width: 50px;
          height: 50px;
          font-size: 25px;
          line-height: 50px;
          float: left;
          margin: 0px 10px 0px 0px;
        }

        img {
          width: 74px;
          height: 74px;
          margin: 13px;
        }
      }

      .project-title {
        grid-area: title;

        @extend .orange-title;

        // Wrap title text to one line
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 100%;

        min-height: 20px;
        margin-top: 8px;
        margin-bottom: 16px;

        @media (max-width: $phone) {
          // Align next to the logo circle
          margin-top: 0px;
          line-height: 50px;
          margin-left: 15px;
        }
      }

      .project-description {
        margin: 0px;
        grid-area: description;
        color: #757575;
        font-weight: 400;
      }

      a {
        grid-area: link;
      }
    }
  }

  h1 button {
    position: relative;
    top: -4px;
  }

  .button-right {
    padding: 10px;
    float: right;
  }

  button {
    color: #039be5;
    background-color: transparent;
    border-width: 0px;
    font-weight: bold;
    border-radius: 2px;
    padding: 0px;

    transition: 0.1s linear background-color;

    &:hover {
      background-color: #9edfff;
      cursor: pointer;
    }

    // @media (max-width: $phone) {
    //   float: right;
    // }
  }

  .section {
    margin-bottom: 30px;
  }
}
