@import "../../styles/base.scss";

// Bold orange text
.orange-title {
  color: #ff8f00;
  font-weight: bold;
  font-size: 18px;
}

.body-text {
  color: #757575;
  font-weight: 400;
}

// Wrap text to a single line
.wrap-one-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 100%;
}

// Layout that goes 3-->2-->1
.flexible-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  // In tablet layout, two projects per row
  @media (max-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  // In phone layout, only one project per row
  @media (max-width: $phone) {
    grid-template-columns: repeat(1, 1fr);
  }
}

#homepage {
  .section-title {
    font-size: 24px;
    border-bottom: 1px solid #eceff1;
    height: 50px;
    padding: 0px 12px 12px 12px;

    span {
      color: #656565;
      font-family: Roboto, Helvetica, Arial, sans-serif;
    }

    button {
      position: relative;
      top: 4px;
    }

    .material-icons {
      font-size: 30px;
      position: relative;
      top: 7px;
      margin-right: 16px;
      opacity: 0.4;
    }
  }

  .antiline {
    width: 100%;
    height: 1px;
    background-color: white;
    position: relative;
    top: -1px;
  }

  #welcome_card {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: min-content 1fr;

    // In phone layout, hide the image
    @media (max-width: $phone) {
      grid-template-columns: 100%;
      grid-gap: 0px;

      img {
        margin: 0;
        display: none;
      }

      h1 {
        padding-top: 0px;
      }
    }

    .body {
      color: #757575;
    }

    .image {
      display: flex;
      align-items: center;
    }

    img {
      margin: 16px;
      height: 160px;
    }
  }

  .releases {
    @extend .flexible-columns;

    .release {
      .grid {
        width: 100%;
        display: grid;
        grid-template-areas:
          "title"
          "description"
          "link";
        grid-template-rows: max-content 40px max-content;
        grid-gap: 8px;

        padding: 20px;
      }

      .release-description {
        @extend .body-text;
        @extend .wrap-one-line;

        margin: 0px;
        padding-top: 8px;
      }

      .release-title {
        @extend .orange-title;
        @extend .wrap-one-line;
      }
    }
  }

  .projects {
    @extend .flexible-columns;

    .project {
      overflow: hidden;

      border: 1px solid #eceff1;
      border-width: 0px 0px 1px 0px;

      .grid {
        width: 100%;

        display: grid;
        grid-template-areas:
          "logo title"
          "description description"
          "link link";
        grid-template-columns: min-content auto;
        grid-template-rows: max-content 70px min-content;
        grid-gap: 8px;
        padding: 20px 10px;

        float: left;
        position: relative;
        padding: 20px;
      }

      .logo-circle {
        grid-area: logo;

        align-self: center;

        width: 50px;
        height: 50px;
        font-size: 25px;
        line-height: 50px;
        float: left;

        margin-right: 4px;
        margin-left: 0px;

        border-radius: 100%;
        display: grid;
        justify-items: center;
        align-items: center;
        color: white;

        img {
          width: 74px;
          height: 74px;
          margin: 13px;
        }
      }

      .project-title {
        @extend .orange-title;
        @extend .wrap-one-line;

        grid-area: title;
        align-self: center;
      }

      .project-description {
        @extend .body-text;
        grid-area: description;

        margin: 0px;
        padding-top: 8px;
      }

      a {
        grid-area: link;
      }
    }
  }

  h1 button {
    position: relative;
    top: -4px;
  }

  .button-right {
    padding: 10px;
    float: right;
  }

  button {
    color: #039be5;
    background-color: transparent;
    border-width: 0px;
    font-weight: bold;
    border-radius: 2px;
    padding: 0px;

    transition: 0.1s linear background-color;

    &:hover {
      background-color: #9edfff;
      cursor: pointer;
    }

    // @media (max-width: $phone) {
    //   float: right;
    // }
  }

  .section {
    margin-bottom: 30px;
  }
}
