<div id="homepage">
  <header-bar 
    enable_subheader="true" 
    subheader_title="Platforms" 
    :subheader_tabs="subheader_tabs" 
    :subheader_tab_selection="platform"
    ref="header"></header-bar>

  <div class="page content_grid">
      <div class="col_gutter"></div>
      <div class="sections col_main">
        <div class="section" v-if="showingAllPlatforms()">
          <div class="content" id="welcome_card">
            <div class="image">
              <img src="/firebase-github.png" />
            </div>
            <div class="body">
              <h1>Firebase ❤️ Open Source</h1>
              <span>
                The Firebase community runs on open source. Our SDKs, libraries, samples, and demos all live on GitHub.
                On <a href="/">firebaseopensource.com</a> you can discover all of the tools you need to build a great app.
                <br /><br />
                Is there a great open source Firebase project that should be included here? 
                <a target="_blank" href="https://github.com/firebase/firebaseopensource.com/issues/new?template=new_project.md">Let us know!</a>
              </span>
            </div>
          </div>
        </div>

        <div class="section" v-if="showingAllPlatforms()">
          <div class="content" id="recent_releases">
            <div class="section-title">
              <span>
                <i class="material-icons">event</i>Recent Releases
              </span>
            </div>
            <div class="releases">
              <div class="release" v-for="release in releases">
                <div class="grid">
                  <a :href="`/projects/${release.org}/${release.repo}/`" class="release-title">
                    {{release.repo}}
                  </a>
                  <p class="release-description">
                    <code>{{release.tag_name}}</code> released {{releaseTime(release)}}.
                  </p>
                  <a :href="release.url" target="_blank">
                    <button class="button-right">RELEASE NOTES</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="section" v-for="category in categories">
          <div class="content" v-if="isSectionVisible(category.platform)">
            <div class="section-title">
              <a :href="`/platform/${category.platform}`">
                <span>
                <i class="material-icons">{{category.icon}}</i>{{category.title}}
                </span>
              </a>
              <a :href="`/platform/${category.platform}`">
                <button class="button-right" v-if="showingAllPlatforms()">SEE ALL</button>
              </a>
            </div>
            <div class="projects">
              <!-- TODO: This is gnarly, move more of this to JS -->
              <div class="project" v-for="project in ($refs.header && $refs.header.subheader_tab_selection == 'all')? category.featured : category.projects">

                <div class="grid">
                  <div class="logo-circle" :style="{backgroundColor: project.color}">
                    <!--
                      TODO: Need to find an SVG letter font free for commercial use
                      ex: https://www.behance.net/gallery/48597451/Free-SVG-Alphabet
                    -->
                    <!-- <img
                      class="logo-letter"
                      v-bind:src="`/src/assets/letters/${project.letter}.svg`"> -->
                    <div>{{project.letter}}</div>
                  </div>
                  <a :href="`/projects/${project.org}/${project.repo}/`" class="project-title">
                    {{project.name}}</a>
                  <p class="project-description">
                      {{project.description}}
                  </p>
                  <a :href="`/projects/${project.org}/${project.repo}/`">
                    <button class="button-right">LEARN MORE</button>
                  </a>
                </div>
              </div>
            </div>
            <div class="antiline"></div>
          </div>
        </div>
      </div>
      <div class="col_gutter"></div>
    </div>
</div>
