#four-oh-four {
  width: 100%;
  text-align: center;

  h1 {
    font-size: 100px;
    padding-top: 70px;
    padding-bottom: 50px;
    opacity: 0.6;
  }

  .content {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 3px;
    padding: 20px 0px 0px 0px;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 30px;
  }

  img {
    max-width: 100%;
    padding: 40px;
  }

  .footer {
    background-color: #eee;
    width: 100%;
    height: 20px;
    padding: 20px;
    line-height: 5px;
  }
}
