<div id="projects">
  <img src="/background-top.svg" hidden/>
  <header-bar :enable_subheader="found" subheader_title="Documentation" ref="header" :subheader_tabs="subheader_tabs" ></header-bar>

  <four-oh-four v-if="not_found"></four-oh-four>

  <div v-if="isStaging" class="warning">
    You are viewing this page in the STAGING environment.
  </div>

  <div class="page content_grid" v-if="found">
    <div class="col_gutter">
      <ul class="sidebar shadow_all">

        <li class="sidebar-section" v-for="section in sidebar">
          <div class="header" v-on:click="section.expanded = !section.expanded">
            <span class="title">{{section.title}}</span>
            <i class="material-icons" v-if="section.expanded">expand_less</i>
            <i class="material-icons" v-if="!section.expanded">expand_more</i>
          </div>

          <ul v-if="section.expanded" class="subsection">
            <li v-for="page in section.pages">
              <a :href="page.href" 
                 :target="page.outbound ? '_blank' : ''"
                 v-bind:class="{ selected: page.selected }">{{page.title}}</a>
            </li>
          </ul>
        </li>

      </ul>

    </div>
    <div class="sections col_main">

    <!-- Title section -->
    <div class="section title-section">
      <div class="content toc-grid">
        <div class="body-column">
          <div class="left">
            <h1>
              {{page_title}}
            </h1>

            <div class="related" v-if="!is_subpage">
              <div class="repos">
                <a class="repo test" :href="`/projects/${repo.path}`" v-for="repo in related_repos">
                  <i class="material-icons">link</i><span>{{repo.name}}</span>
                </a>
              </div>
            </div>
          </div>

          <div class="right">
            <div class="badges" v-if="!is_subpage">
              <a :href="`https://github.com/${info.org}/${info.repo}/stargazers`">
                <div class="badge">
                  <div class="key">
                    <i class="material-icons">star</i>
                  </div>
                  <div class="value">{{info.stars}}</div>
                </div>
              </a>

              <a :href="`https://github.com/${info.org}/${info.repo}/commits/master`">
                <div class="badge">
                  <div class="key">
                      <i class="material-icons">access_time</i>
                  </div>
                    <div class="value">{{timestamps.last_updated_from_now}} ago</div>
                </div>
              </a>

              <a :href="`https://github.com/${info.org}/${info.repo}/`">
                <div class="badge badge-action">
                  <div class="key">
                    <i class="material-icons">code</i>
                  </div>
                  <div class="value">View Source</div>
                </div>
              </a>

                <a :href="`https://github.com/${info.org}/${info.repo}/issues`">
                  <div class="badge badge-action">
                    <div class="key">
                        <i class="material-icons">bug_report</i>
                    </div>
                      <div class="value">File Bug</div>
                  </div>
                </a>

                <div class="copy-code-container" v-if="show_clone_cmd">
                  <input
                    id="git-clone-copy-txt"
                    type="text"
                    :value="`git clone git@github.com:${info.org}/${info.repo}.git`"
                    readonly />
                  <button
                    id="git-clone-copy-btn"
                    class="copy-btn"
                    type="button"
                    data-clipboard-target="#git-clone-copy-txt">
                    <i class="material-icons">content_copy</i>
                  </button>
                </div>
            </div>
          </div>

          <div>

              <!-- Table of contents shown if > 1 sections -->
              <div class="dropdown" v-if="sections.length > 1">
                <span>Contents</span>
                <a v-for="section in sections" :href="section.ref" :class="{selected: section.name==dropdown_selection, ellipsize: true}">
                  {{section.name}}
                </a>
              </div>

              
              <!-- Header section body -->
              <div class="header_content" v-html="header.content" v-if="header.content"></div>
          </div>
        </div>
      </div><!-- END content -->
    </div><!-- END title-section -->

    <!-- All h2 sections -->
    <div v-for="section in sections" class="section">
      <div class="section-marker" :id="section.id" :name="section.name"></div>
      <div class="content">
        <h2>{{section.name}}</h2>
        <div v-html="section.content"></div>
      </div>
    </div>

      <!-- Page footer -->
      <div class="section footer">
        <div class="content">
          This page was generated approximately {{timestamps.last_fetched_from_now}} ago.<br />
          For copyright and licensing details please see the <a :href="`https://github.com/${info.org}/${info.repo}/blob/master/LICENSE`">LICENSE</a> file.
        </div>
      </div>
    </div>

    <div class="col_gutter"></div>
  </div>
</div>
